ul{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(128, 216, 224);
    border-bottom: 8px solid rgb(255, 255, 255) ;
}

img{
    height: 86px;
    width: auto;
}
li{
    float: left;
    padding-left: 15px;
}

.nav-link{
  display: block;
  padding: 8px;
  text-decoration: none;
  color: white;
  height: 75px;
  position: relative;
  top: 17px;
  font-size: 38px;
}

#right{
    float: right;
    background-color: goldenrod;
    position: relative;
    top: -18px;
    left: -15px;
    border-radius: 10px;
    padding-left: 0px;

}

.nav-link:hover{
    background-color: rgb(68, 194, 206);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#right:hover{
    border-radius: 10px ;
}

footer {
    background-color: rgb(128, 216, 224);
    margin: auto;
    position: fixed;
    bottom: 0;
    height: 99px;
    width: 100%;
}