<body>
    <div class="heading">
        <div class="search">
            <form [formGroup]="station" (ngSubmit)="onSubmit()">
                <label for="name">Welk station zoekt u?</label><br>
                <input type="text" formControlName="name"><br>
            </form>
            <button (click)="onSubmit()">Zoeken</button>
        </div>
        <h1 class="title">History of Stations below 15°C</h1>
        <div class="buttons">
            <button (click)="download()">download</button>
        </div>
    </div>
    <!-- Loading... -->
    <div *ngIf="!loadedMeasurements" class="dataView">
        <mat-grid-list cols="2" rowHeight="700px">
            <div>
                <mat-grid-tile>
                    <cdk-virtual-scroll-viewport class="example-viewport" itemSize="60">
                        <dl class="example-dl">
                            <dd class="example-dt" style="margin-top: 50px;">Loading measurements...</dd>
                        </dl>
                    </cdk-virtual-scroll-viewport>
                </mat-grid-tile>
            </div>
            <mat-grid-tile>
                <div class="selected" style="height: 507.2px;"></div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    <!-- Show... -->
    <div *ngIf="loadedMeasurements" class="dataView">
        <mat-grid-list cols="2" rowHeight="700px">
            <mat-grid-tile>
                <cdk-virtual-scroll-viewport class="example-viewport" itemSize="60">
                    <dl class="example-dl">
                        <a *cdkVirtualFor="let measurement of someHistoricResultsProper"  (click)="getStation(measurement.station, measurement.date)">
                            <dd class="example-dt">Station number: {{measurement.station}}</dd>
                            <dd class="example-de">Date: {{measurement.date + ' ' +  measurement.time}}</dd>
                            <dd class="example-dd">Temperature: {{measurement.temp}}°C</dd>
                            <dd class="example-dd">Country: {{countrySyntax(measurement.country)}}</dd>
                            <hr>
                        </a>
                    </dl>
                </cdk-virtual-scroll-viewport>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="selected" style="height: 507.2px;" *ngIf="!selectedMeasurement">
                    <h2 style="text-align: center;">Select a measurement...</h2>
                </div>
                <div class="flex selected" *ngIf="selectedMeasurement">
                    <div class="flex">
                        <div>
                            <h2 class="station">Station number: {{selectedMeasurement.station}}</h2>
                            <p class="date"><span>Date:</span> {{selectedMeasurement.date + ' ' +  selectedMeasurement.time}}</p>
                        </div>
                        <div class="details">
                            <p><span>Longitude:</span> {{selectedMeasurement.longitude}}</p>
                            <p><span>Latitude:</span> {{selectedMeasurement.latitude}}</p>
                            <p><span>Elevation:</span> {{selectedMeasurement.elevation}}</p>
                        </div>
                    </div>
                    <p class="country"><span>Country:</span> {{countrySyntax(selectedMeasurement.country)}}</p>
                    <div class="wrapper">
                        <div class="header">
                            <p>Temperature: </p>
                            <p>Dewpoint:</p>
                            <p>Air Pressure:</p>
                        </div>
                        <div>
                            <p>{{ selectedMeasurement.temp }}°C</p>
                            <p>{{ selectedMeasurement.dewp }}°C</p>
                            <p>{{ selectedMeasurement.slp }}Pa</p>
                        </div>
                        <div class="header">
                            <p>Sea level pressure:</p>
                            <p>Visibility:</p>
                            <p>Wind Speed:</p>
                        </div>
                        <div>
                            <p>{{ selectedMeasurement.slp }}Pa</p>
                            <p>{{ selectedMeasurement.visib }}</p>
                            <p>{{ selectedMeasurement.wdsp }}km/h</p>
                        </div>
                        <div class="header">
                            <p>Rainfall:</p>
                            <p>Snow Depth:</p>
                            <p>Cloud Coverage:</p>
                        </div>
                        <div>
                            <p>{{ selectedMeasurement.prcp }}mm</p>
                            <p>{{ selectedMeasurement.sndp }}mm</p>
                            <p>{{ selectedMeasurement.cldc }}%</p>
                        </div>
                        <div class="header">
                            <p>Wind Direction:</p>
                            <p>Miscellaneous:</p>
                        </div>
                        <div>
                            <p>{{ selectedMeasurement.winddir }}° ({{ getDirection(selectedMeasurement.winddir) }})</p>
                            <p>{{ getState(selectedMeasurement.frshtt) }}</p>
                        </div>
                    </div>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</body>