
body {
  height: calc(100% - 200px);
}

.flex {
  display: flex;
  width: calc(100% - 100px);
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  
  > .flex {
    width: 100%;
  }
}

.float {
  float: left; 
  margin-top: 5px;
  width: 350px
}

.wrapper > div {
  height: 5px;
  display: table-row;

  > p {
    float: left; 
    margin-top: 5px;
    width: 200px
  }
}

.header {
  color: #172ead;

  > p {
    margin-bottom: 0px;
  }
}

.country {
  margin-top: 0px;
  width: 650px;
}

.station {
  margin: 5px 0px;
}

.date { 
  margin-top: 0px;
  color: #5166de; 

  > span {
    color: black;
  }
}

.details {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 250px;

  > p {
    margin: 0px;
    
    > span {
      color: #172ead;
    }
  }
}

hr {
  margin: 0px;
}

a {
  display: block;
  padding: 10px 0px 0px 0px;
  text-decoration: none;
  color: #172ead;
}

a:hover{
  background-color: #3d5bf61a
}

.example-viewport {
  position: absolute;
  top: 25px;
  height: calc(100% - 100px);
  width: 600px;
  border: 1px solid black;
  font-size: 20px;
}

.example-dt {
  text-decoration: none;
  height: 30px;
  font-weight: bold;
}

.example-dd {
  height: 30px;
  color: black;
}

.example-de {
    height: 30px;
    color: #2d3669;
}

.selected{
  position: absolute;
  top: 25px;
  border: solid black 2px;
  padding: 18px 24px;
  width: 650px;
}

.selected p{
  font-size: 20px;
}

.title {
  text-align: center;
}

.buttons {
  padding: 10px;
  border-radius: 8px;
  position: absolute;
  right: 150px;
  top: 110px;
  font-size: 28px;
  background-color: rgb(128, 216, 224);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
}

.buttons:hover {
  background-color: rgb(68, 194, 206);
}