<body>
<button class="buttons" (click)="download()">download</button>
<h1 class="title">historic temperature</h1>
<p *ngIf="!loadedMeasurements" style="margin:auto">Loading measurements...</p>
<div *ngIf="loadedMeasurements" class="dataView">
    <mat-grid-list cols="2">
        <div class="options">
            <mat-grid-tile>
                <cdk-virtual-scroll-viewport class="example-viewport" itemSize="60">
                    <dl class="example-dl">
                        <hr>
                        <a *cdkVirtualFor="let measurement of someHistoricResults"  (click)="getStation(measurement.station, measurement.date)" class="link primary">
                            <dd class="example-dt">Station number: {{measurement.station}}</dd>
                            <dd class="example-de">Date: {{measurement.date + ' ' +  measurement.time}}</dd>
                            <dd class="example-dd">Temperature: {{measurement.temp}}°C</dd>
                            <dd class="example-dd">Country: {{measurement.country}}</dd>
                            <hr>
                        </a>
                    </dl>
                </cdk-virtual-scroll-viewport>
            </mat-grid-tile>
        </div>
        <mat-grid-tile>
            <div class="selected" *ngIf="selectedMeasurement">
                <h1>Weatherstation Details</h1>
                <h2>Station number: {{selectedMeasurement.station}}</h2>
                <p>country: {{selectedMeasurement.country}}</p>
                <p>longitude: {{selectedMeasurement.longitude}}</p>
                <p>latitude: {{selectedMeasurement.latitude}}</p>
                <p>elevation: {{selectedMeasurement.elevation}}</p>
                <div>
                    <p class="datum">Time of Measurement: {{selectedMeasurement.date + ' ' +  selectedMeasurement.time}}</p>
                    <div class="wrapper name">
                        <p class="Hleft">Temperature: </p>
                        <p class="Hmiddle">Dewpoint:</p>
                        <p class="Hright">Air Pressure:</p>
                    </div>
                    <div class="wrapper">
                        <p class="left">{{ selectedMeasurement.temp }}°C</p>
                        <p class="middle">{{ selectedMeasurement.dewp }}°C</p>
                        <p class="right">{{ selectedMeasurement.slp }}Pa</p>
                    </div>
                    <div class="wrapper name">
                        <p class="Hleft">Sea level pressure:</p>
                        <p class="Hmiddle">Visibility:</p>
                        <p class="Hright">Wind Speed:</p>
                    </div>
                    <div class="wrapper">
                        <p class="left">{{ selectedMeasurement.slp }}Pa</p>
                        <p class="middle">{{ selectedMeasurement.visib }}</p>
                        <p class="right">{{ selectedMeasurement.wdsp }}km/h</p>
                    </div>
                    <div class="wrapper name">
                        <p class="Hleft">Rainfall:</p>
                        <p class="Hmiddle">Snow Depth:</p>
                        <p class="Hright">Cloud Coverage:</p>
                    </div>
                    <div class="wrapper">
                        <p class="left">{{ selectedMeasurement.prcp }}mm</p>
                        <p class="middle">{{ selectedMeasurement.sndp }}mm</p>
                        <p class="right">{{ selectedMeasurement.cldc }}%</p>
                    </div>
                    <div class="wrapper name">
                        <p class="Hleft">Wind Direction:</p>
                        <p class="HmoreRight">miscellaneous:</p>
                    </div>
                    <div class="wrapper">
                        <p class="left">{{ getDirection(selectedMeasurement.winddir) }} ({{ selectedMeasurement.winddir }}°)</p>
                        <p class="moreRight">{{ getState(selectedMeasurement.frshtt) }}</p>
                    </div>
                </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>
</body>