<!-- <div class="login_box">
    <div class="middle">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <label for="email"><strong>E-mail:</strong></label><br>
            <input id="email" type="email" formControlName="email"><br>
            <label for="pwd"> <strong>Password:</strong></label><br>
            <input id="pwd" type="password" formControlName="password">
        </form>
    </div>
    <div class="bottom">
        <button (click)="onSubmit()"><strong>Login</strong></button>
    </div>
</div> -->

<body>
    <div class="box">
        <div class="container">

            <div class="top-header">
                <span>Have an account?</span>
                <header>Login</header>
            </div>
            <div class="input-field">
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <input id="email" class="input" type="email" placeholder="E-mail" formControlName="email">
                    <i>📪</i>
                </form>
            </div>
            <div class="input-field">
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <input id="pwd" type="password" class="input" placeholder="Password" formControlName="password">
                    <i>🔒</i>
                </form>
            </div>

            <div class="input-field">
                <button (click)="onSubmit()" class="submit"><strong>Login</strong></button>
            </div>

            <div class="bottom">
                <div class="left">
                    <input type="checkbox" id="check">
                    <label for="check">Remember Me</label>
                </div>
            </div>
        </div>

    </div>
</body>