<h2>Top 10 most humid station</h2>
<button (click)="download()">Download</button><span><button routerLink="historic">Historic Data</button></span>
<table>
  <tr>
    <th>Station</th>
    <th>Date</th>
    <th>Country</th>
    <th>Humidity</th>
    <th>Temperature (°C)</th>
    <th>Wind speed (km/h)</th>
    <th>Rainfall (mm)</th>
    <th>Overcast (%)</th>
  </tr>
  <tr *ngFor="let result of Humidity_Results" (click)="getStation(result.station, result.date)">
    <td>{{ result.station }}</td>
    <td>{{ result.date }}</td>
    <td>{{countrySyntax(result.country_code)}}</td> 
    <td>{{ result.avg_dewp }}</td>
    <td>{{ result.temp }}</td>
    <td>{{ result.wdsp }}</td>
    <td>{{ result.prcp }}</td>
    <td>{{ result.cldc }}</td>
  </tr>
</table>

<div class="selected" *ngIf="selectedMeasurement">
  <!-- <table>
    <tr>
      <th>Humidity</th>
      <th>Station</th>
      <th>Country</th>
      <th>Date</th>
      <th>Temperature (°C)</th>
      <th>Wind speed (km/h)</th>
      <th>Rainfall (mm)</th>
      <th>Overcast (%)</th>
    </tr>
    <tr *ngFor="let result of All_Measurements" (click)="getStation(result.station, result.date)">
      <td>{{ result.avg_dewp }}</td>
      <td>{{ result.station }}</td>
      <td>{{ result.country_code }}</td>
      <td>{{ result.date }}</td>
      <td>{{ result.temp }}</td>
      <td>{{ result.wdsp }}</td>
      <td>{{ result.prcp }}</td>
      <td>{{ result.cldc }}</td>
    </tr>
  </table> -->


