<h2>Top 10 most humid station</h2>
<table>
  <tr>
    <th>Station</th>
    <th>Date</th>
    <th>Country</th>
    <th>Humidity</th>
    <th>Temperature (°C)</th>
    <th>Wind speed (km/h)</th>
    <th>Rainfall (mm)</th>
    <th>Overcast (%)</th>
  </tr>
  <tr *ngFor="let result of Results" >
    <td><a (click)="getStation(result.station, result.date)">{{ result.station }}</a></td>
    <td>{{ result.date }}</td>
    <td>{{ countrySyntax(result.country) }}</td>
    <td>{{ result.avg_dewp }}</td>
    <td>{{ result.temp }}</td>
    <td>{{ result.wdsp }}</td>
    <td>{{ result.prcp }}</td>
    <td>{{ result.cldc }}</td>
  </tr>
</table>

<div class="selected" *ngIf="selectedMeasurement">
  <h1>Weatherstation Details</h1>
  <h2>Station number: {{selectedMeasurement.station}}</h2>
  <p>country: {{selectedMeasurement.country}}</p>
  <!-- <p>longitude: {{selectedMeasurement.longitude}}</p>
  <p>latitude: {{selectedMeasurement.latitude}}</p>
  <p>elevation: {{selectedMeasurement.elevation}}</p> -->
  <div>