
  
  .showWhenHovering1,
  .showWhenHovering2 {
    display: none;
  }
  
  .parentClass1:hover + .showWhenHovering1,
  .parentClass2:hover + .showWhenHovering2 {
    display: block;
  }

  .parentClass1,
  .parentClass2 {
    font-weight: bold;
  }

  .parentClass1:hover,
  .parentClass2:hover {
    font-weight: normal;
  }

  td {
    border: 1px solid;
  }

  th {
    text-align: left;
  }