<p>temperature-history works!</p>
<h1>historic temperature</h1>
<table>
    <thead>
        <tr>
            <th scope="col">Station</th>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
            <th scope="col">Temperature</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let result of someHistoricResults">
            <td class="parentClass1">
                {{ result.station }}
            </td>
            <div class="showWhenHovering1">
                <thead>
                    <tr>
                        <th scope="col">Country</th>
                        <th scope="col">Longitude</th>
                        <th scope="col">Latitude</th>
                        <th scope="col">Elevation</th>
                    </tr>
                </thead>
    <tbody>
        <tr>
            <td>{{ result.country }}</td>
            <td>{{ result.longitude }}</td>
            <td>{{ result.latitude }}</td>
            <td>{{ result.elevation }}</td>
        </tr>
    </tbody>
    </div>
            <td>{{ result.date }}</td>
            <td>{{ result.time }}</td>
            <td class="parentClass2">
                {{ result.temp }}
            </td>
            <div class="showWhenHovering2">
                <thead>
                    <tr>
                        <th scope="col">Dew point Temperature</th>
                        <th scope="col">Station Air pressure</th>
                        <th scope="col">Sea level Air pressure</th>
                        <th scope="col">Visibility</th>
                        <th scope="col">Wind speed</th>
                        <th scope="col">Rainfall</th>
                        <th scope="col">Snow depth</th>
                        <th scope="col">FRSHTT</th>
                        <th scope="col">Cloud coverage</th>
                        <th scope="col">Wind direction</th>
                    </tr>
                </thead>
    <tbody>
        <tr>
            <td>{{ result.dewp }}</td>
            <td>{{ result.stp }}</td>
            <td>{{ result.slp }}</td>
            <td>{{ result.visib }}</td>
            <td>{{ result.wdsp }}</td>
            <td>{{ result.prcp }}</td>
            <td>{{ result.sndp }}</td>
            <td>{{ result.frshtt }}</td>
            <td>{{ result.cldc }}</td>
            <td>{{ result.winddir }}</td>
        </tr>
    </tbody>
    </div>
    </tr>
    </tbody>
</table>