<div class="user-container">
    <div class="user">
        <h2 *ngIf="user">Welcome {{user.first_name + ' ' + user.last_name}}</h2>
        <h2 *ngIf="!user">Welcome</h2>
    </div>
</div>
<div class="container">
    <div class="dashboard">
        <a class="humidity" routerLink="humidity">
            <h3>Humidity <br>Page</h3>
        </a>
        <a class="temperature" routerLink="temperature">
            <h3>Minimum Temperature Page</h3>
        </a>
    </div>
</div>
<button style="padding: 5px;" (click)="download()">download</button>
