/* Search segment */
.search{
  background-color: lightgray;
  margin-top: 20px;
  margin-left: 50px;
  width: 696px;
  padding: 20px 32px;
  border-radius: 25px;
  box-shadow: inset;
}

input{
  margin-top: 5px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
}

button{
  margin-top: 5px;
  font-size: larger;
}

/* Users segment */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 1300px;
  margin-left: 50px;
  margin-top: 20px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

td:hover{
  background-color: lightblue;
}

/* Information selected user segment */
.selected{
  background-color: lightgray;
  margin-top: 20px;
  margin-left: 50px;
  width: 696px;
  padding: 20px 32px;
  border-radius: 25px;
  box-shadow: inset;
}