<!--  -->
<div class="flexbox">
        <!-- Search segment -->
        <div class="search">
            <form [formGroup]="user" (ngSubmit)="onSubmit()">
                <label for="name"><strong>Which employee are you looking for?</strong></label><br>
                <input type="text" formControlName="name"><br>
            </form>
            <button (click)="onSubmit()">Search</button>
        </div>
        <div class="buttons">
            <button (click)="onCreate()">➕ Add</button>
            <button (click)="onDelete()">➖ Delete</button>
            <button (click)="onEdit()">✍️ Edit</button>
        </div>
        <!-- Users segment -->
        <table>
            <tr>
                <th [width]="70">User ID</th>
                <th>Email</th>
                <th [width]="140">First name</th>
                <th [width]="140">Last name</th>
            </tr>
            <tr *ngFor="let result of postedUsers" (click)="view(result.id)">
                <td >{{result.id}}</td>
                <td>{{result.email}}</td>
                <td>{{result.first_name}}</td>
                <td>{{result.last_name}}</td>
            </tr>
        </table>
    <div class="selected" *ngIf="!loadedUsers">
        <h1>Data Employee</h1>
        <p>Loading Employee...</p>
    </div>
    <div class="selected" *ngIf="loadedUsers">
        <h1>Data Employee</h1>
        <p>Employee ID: {{selectedUser.id}}</p>
        <p>Full name: {{selectedUser.first_name + ' ' + selectedUser.last_name}}</p>
        <p>First name: {{selectedUser.first_name}}</p>
        <p>Last name: {{selectedUser.last_name}}</p>
        <p>Email: {{selectedUser.email}}</p>
        <!-- <p>Made at: {{selectedUser.created_at.slice(0, 10)}}</p> -->
        <!-- <p>Last updated: {{selectedUser.updated_at.slice(0, 10)}}</p> -->
    </div>
</div>


