<div class='add-container hidden' id='add-container'>
    <div class='pop-up'>
        <form [formGroup]="useradd" (ngSubmit)="onCreate()">
            <label for="role_id"><strong>Role id: </strong></label><br>
            <input type="number" formControlName="role_id"><br>
            <label for="first_name"><strong>First name: </strong></label><br>
            <input type="text" formControlName="first_name"><br>
            <label for="last_name"><strong>Last name: </strong></label><br>
            <input type="text" formControlName="last_name"><br>
            <label for="email"><strong>Email: </strong></label><br>
            <input type="email" formControlName="email"><br>
            <label for="password"><strong>Password: </strong></label><br>
            <input type="password" formControlName="password"><br><br>
        </form>
        <button (click)="onCreate()">➕ Add user</button>
    </div>
</div>
<h1 class="title">User Administration</h1>
<div class='flexbox'>
        <div class="search">
            <form [formGroup]="search" (ngSubmit)="filter()">
                <label for="filter">Filter:</label>
                <input type="text" formControlName="filter">
            </form>
            <button (click)="filter()">Search</button>
        </div>
        <div class="buttons">
            <button (click)="onCreate_Pop_Up()"><span>➕</span> Add</button>
            <button (click)="onDelete()"><span>➖</span> Delete</button>
            <button (click)="onEdit()"><span>✍️</span> Edit</button>
        </div>
        <cdk-virtual-scroll-viewport class="scrollbar" itemSize="100">
            <table>
                <tr>
                    <th [width]="70">User ID</th>
                    <th>Email</th>
                    <th [width]="140">First name</th>
                    <th [width]="140">Last name</th>
                </tr>
                <tr *ngFor="let result of postedUsers" (click)="view(result.id)">
                    <td >{{result.id}}</td>
                    <td>{{result.email}}</td>
                    <td>{{result.first_name}}</td>
                    <td>{{result.last_name}}</td>
                </tr>
            </table>
        </cdk-virtual-scroll-viewport>
    <div class="selected" *ngIf="!loadedUsers">
        <h1>Data Employee</h1>
        <p>Loading Employee...</p>
    </div>
    <div class="selected" *ngIf="loadedUsers">
        <h1>Data Employee</h1>
        <p>Employee ID: {{selectedUser.id}}</p>
        <p>Full name: {{selectedUser.first_name + ' ' + selectedUser.last_name}}</p>
        <p>First name: {{selectedUser.first_name}}</p>
        <p>Last name: {{selectedUser.last_name}}</p>
        <p>Email: {{selectedUser.email}}</p>
        <p>Role: {{selectedUser.role_id}}</p>
        <!-- <p>Made at: {{selectedUser.created_at.slice(0, 10)}}</p> -->
        <!-- <p>Last updated: {{selectedUser.updated_at.slice(0, 10)}}</p> -->
    </div>
</div>


