
.link {
  display: block;
}

.wrapper {
  height: 5px;
  display: table-row;
}

.left, .middle, .right, .moreRight, .Hleft, .Hmiddle, .Hright, .HmoreRight { float: left; margin-top: 5px; }
.left, .middle, .right, .Hleft, .Hmiddle, .Hright { width: 200px }
.moreRight, .HmoreRight { width: 400px }
.Hleft, .Hmiddle, .Hright, .HmoreRight { margin-bottom: 0px; }

.name { color: #3f51b5; }

.datum { color: #2d3669; }

a {
  text-decoration: none;
  color: #3f51b5;
}

a:hover{
  background-color: #3d5bf61a
}

.example-viewport {
  height: 800px;
  width: 600px;
  border: 1px solid black;
  font-size: 20px;
}

.example-dt {
  text-decoration: none;
  height: 30px;
  font-weight: bold;
}

.example-dd {
  height: 30px;
  color: black;
}

.example-de {
    height: 30px;
    color: #2d3669;
}

.selected{
  border: solid black 2px;
  padding: 18px 24px;
  min-width: 650px;
}
.selected h1{
  font-size: xx-large;
}

.selected p{
  font-size: 24px;
}

.title {
  text-align: center;
  text-transform: uppercase;
}

.buttons, .historictemperature {
  padding: 15px;
  border-radius: 12px;
  font-size: 28px;
  background-color: rgb(128, 216, 224);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
}

.buttons {
  position: absolute;
  right: 150px;
  top: 120px;
}

.historictemperature {
  position: absolute;
  right: 300px;
  top: 120px;
}

.buttons:hover, .historictemperature:hover {
  background-color: rgb(68, 194, 206);
}