<h1 class="title">Stations below 15°C</h1>
<div class="flexbox">
    <div class="search">
        <form [formGroup]="search" (ngSubmit)="filter()">
            <label for="filter">Filter: </label>
            <input type="text" formControlName="filter">
        </form>
        <button (click)="filter()">Search</button>
    </div>
    <div class="buttons">
        <button routerLink="historic">Show History</button>
        <button (click)="download()">Download Data</button>
    </div>
    <cdk-virtual-scroll-viewport class="scrollbar" itemSize="100">
        <table>
            <tr>
                <th (click)="sortByStation()" [width]="60">Station</th>
                <th (click)="sortByDate()" [width]="95">Date</th>
                <th (click)="sortByCountry()">Country</th>
                <th (click)="sortByTemperture()" [width]="120">Temperature</th>
            </tr>
            <tr *ngFor="let result of sortedMeasurements" (click)="getStation(result.station, result.date)">
                <td>{{ result.station }}</td>
                <td>{{ result.date }}</td>
                <td>{{ result.country }}</td>
                <td style="text-align: right;">{{ result.temp }} °C</td>
            </tr>
        </table>
    </cdk-virtual-scroll-viewport>
    <div class="selected" *ngIf="!selectedMeasurement">
        <h2 style="text-align: center;" *ngIf="loadedMeasurements">Select a measurement...</h2>
    </div>
    <div class="flex selected" *ngIf="selectedMeasurement">
        <div class="flex">
            <div>
                <h2 class="station">Station number: {{selectedMeasurement.station}}</h2>
                <p class="date"><span>Date:</span> {{selectedMeasurement.date + ' ' +  selectedMeasurement.time}}</p>
            </div>
            <div class="details">
                <p><span>Longitude:</span> {{selectedMeasurement.longitude}}</p>
                <p><span>Latitude:</span> {{selectedMeasurement.latitude}}</p>
                <p><span>Elevation:</span> {{selectedMeasurement.elevation}}</p>
            </div>
        </div>
        <p class="country"><span>Country:</span> {{ selectedMeasurement.country }}</p>
        <div class="wrapper">
            <div class="header">
                <p>Temperature: </p>
                <p>Dewpoint:</p>
                <p>Visibility:</p>
            </div>
            <div>
                <p>{{ selectedMeasurement.temp }} °C</p>
                <p>{{ selectedMeasurement.dewp }} °C</p>
                <p>{{ selectedMeasurement.visib }}%</p>
            </div>
            <div class="header">
                <p>Air Pressure:</p>
                <p>Sea level pressure:</p>
                <p>Wind Speed:</p>
            </div>
            <div>
                <p>{{ selectedMeasurement.stp }} Pa</p>
                <p>{{ selectedMeasurement.slp }} Pa</p>
                <p>{{ selectedMeasurement.wdsp }} km/h</p>
            </div>
            <div class="header">
                <p>Rainfall:</p>
                <p>Snow Depth:</p>
                <p>Cloud Coverage:</p>
            </div>
            <div>
                <p>{{ selectedMeasurement.prcp }} mm</p>
                <p>{{ selectedMeasurement.sndp }} mm</p>
                <p>{{ selectedMeasurement.cldc }}%</p>
            </div>
            <div class="header">
                <p>Wind Direction:</p>
                <p>Miscellaneous:</p>
            </div>
            <div>
                <p>{{ selectedMeasurement.winddir + '° (' + getDirection(selectedMeasurement.winddir) }})</p>
                <p>{{ getState(selectedMeasurement.frshtt) }}</p>
            </div>
        </div>
    </div>
</div>

